@use 'variaveis';
@use 'mixins';

.cabecalho {
    background-color: variaveis.$cor-primaria;
    color: white;
    @include mixins.espacamento-padrao;
    // padding: variaveis.$espacamento-padrao;

    &__titulo {
        text-align: center;
    }
}