/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #10001F;
    background-color: #f9f9f9;
}

/* Header */

header {
    padding: 20px;
    background: linear-gradient(135deg,#E56B84,#7484ED);
    color: #f9f9f9;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-top: 10px;
}

header p {
    font-size: 14px;
    margin-top: 5px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}

/* Seção */

section {
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

/* Seção */

article {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article a {
    text-decoration: none;
    font-weight: bold;
    color: #10001F;
}

article a:hover {
    color: #007AFF;
}

/* Footer */

footer {
    color: #838285;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #22053D;
}

footer a:hover {
    text-decoration: underline;
}