/* Estilo para formulários (Login, ListaTarefas ) */

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botoões genéricos */

.button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

/* Lista de tarefas */

.list {
    list-style: none;
    padding: 0;
}