@use "variaveis";

.cabecalho {
    min-height: 97.7vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: variaveis.$back-primaria;
    display: flex;

    &__header {
    width: 99%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    margin-left: 0.3%;
    }

    &__img {
        width: variaveis.$width-padrao;
    }

    &__nav {
    width: 100%;
    display: flex;
    text-decoration: none;
    }

    &__itens {
        margin: 15px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        font-size: 20px;
        width: 70%;
        display: flex;
        background-color: variaveis.$back-segundaria;
        list-style: none;
    }

    &__linkAtivo {
        color: #1fbbc7;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
    }
    
    &:hover {
        color: #1fbbc7;
    }

    &__link {
        color: #838285;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }

}