* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
  color: #222;
  line-height: 1.6;
}

header {
  background: #111;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

footer {
  margin-top: 40px;
  background: #111;
  padding: 20px;
  text-align: center;
  color: white;
}
